
.menu{
    background-color: #b46424;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
.body{
    background-color: #f1ecea;
}
.card{
    background-color:dimgray;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    text-align: center;
    text-align: justify;
}
header{
    background-color: #3a251c;
    height: 15%;
}
.cardp{
    text-align: justify;
    margin: 5%;
    background-color:dimgray;
    border-radius: 10px;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-bottom: -10px;
}
.pie{
    background-color: #3a251c;
    text-align: center;
    height: 90%;
    width: 100%;
}
.contenedor{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    justify-content: right;
}